* {
  margin: 0;
  padding: 0;
}

.selected-image {
  border: 10px solid #ff1111;
}

.options-container {
  display: flex;
  justify-content: space-between;
}

.register-form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  min-width: 30vw;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal-options {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.plate-field {
  position: sticky;
  top: 5px;
  z-index: 1;
  background-color: white;
  padding: 5px 0;
}
